<a href="https://colab.research.google.com/github/ykim747/adult.data/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/jeremyallenjacobson/RealRootsReproduction/master/train-1-10-2.csv", header=None)

In [5]:
df.columns = ['a','b','c','Real Root']
df = df.iloc[:,0:3]

In [6]:
def degree(x):
 if x[0] >0:
  return 2
 elif x[1] >0:
  return 1
 else:
  return 0

In [7]:
df['Degree'] = df.iloc[:,:3].apply(degree, axis=1)

In [11]:
df

     a   b   c  Degree
0    8   6  10       2
1    4   9   8       2
2    6   2   5       2
3    3   6   6       2
4    5  10   8       2
..  ..  ..  ..     ...
695  5   3   1       2
696  4   8   3       2
697  5   5   8       2
698  3   1  10       2
699  6  10   3       2

[700 rows x 4 columns]

In [9]:
df.to_csv('Degree.csv')

In [12]:
!ls

Degree.csv  sample_data